{% extends "base.html" %} {% block title %} Home {% endblock %}
{% load static %}
{% block content %}
<h3 class="coffee-w-c">Touch the brewed Coffee in the menu to display</h3>
{% endblock %}

{% block card %}
<div class="card mb-3 center-div-v" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'coffee_img/sb_flavor_highlndrgrogg-1-1.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Highlander Grogg</h5>
          <p class="card-text"><small class="text-muted">Silver Bridge</small></p>
          <p class="card-text">Butterscotch & Rum Flavored</p>
          <p class="card-text"><small class="text-muted">Medium Roast</small></p>
          <a href="#" class="btn btn-primary">Select This Coffee</a>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3 center-div-v" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'coffee_img/sb_decaf_jamaicamecrazy-2.webp' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Jamaican Me Crazy</h5>
          <p class="card-text"><small class="text-muted">Silver Bridge</small></p>
          <p class="card-text">Caramel Hazelnut Kahlua Flavored</p>
          <p class="card-text"><small class="text-muted">Medium Roast</small></p>
          <a href="#" class="btn btn-primary">Select This Coffee</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block filteredCoffee %}

{% endblock %}