* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

body {
    background-color: #BC1142;
  }

h3 {
    color: white;
    text-align: center;
}

.center-div-v {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.coffee-image{
    min-height : 100%;
    min-width : 100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

.btn-coffee{
    margin-bottom: 1px !important;
}